div{
    background-color: rgb(217, 255, 0);
   font-size:30px ;
   display: inline-block;
   width: 400px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: 30px;
}
input{
    padding: 10px;
    margin-bottom: 20px;
}